<h3> To Do </h3>

<p>
<%= link_to "New Task", new_task_path %>
</p>

<table>
	<tr>
		<th> Content </th>
		<th> State </th>
		<th colspan = "5"> </th>
	</tr>

	<%= render @to_do %>
</table>

<h3> Doing </h3>


<table>
	<tr>
		<th> Content </th>
		<th> State </th>
		<th colspan = "5"> </th>
	</tr>
	<%= render @doing %>
</table>

<h3> Done </h3>


<table>
	<tr>
		<th> Content </th>
		<th> State </th>
		<th colspan = "5"> </th>
	</tr>
	<%= render @done %>
</table>